<style>
#loader, #sky {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: linear-gradient(to right, #ff47a1 0%, #ff9f4d 100%);
}

#loadingImage, #loadingBar {
	position: absolute;
	width: 150px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#loadingBar {
	background-image: linear-gradient(135deg, #B7F8DB 0px, #50A7C2 100%);
}
</style>

<div id="loader">
	<img id="loadingImage" style="z-index: 1000;" src="/images/loadingpage/loading.png">
	<div id="loadingBar" style="z-index: 999;"></div>
</div>
<!-- {{> index/loading/background}} -->

<script type="text/javascript">
	//Loading Set
	var canvasSize = 150; // px
	var loadingTime = 0; // ms (1/1000s)
	
	$( window ).on( "load", function() {
		setLoadingImageSize(canvasSize)
	    fillLoadingBar(canvasSize, loadingTime - 500);
		setTimeout(showPage, loadingTime);
	});
	
	function setLoadingImageSize(canvasSize) {
		$( "#loadingBar" ).css({"height": canvasSize + "px", "width": canvasSize + "px", "top" : "50%", "left": "50%", "transform":"translate(-" + canvasSize/2 + "px, -" + canvasSize/2 + "px)"});
		$( "#loadingImage" ).css({"height": canvasSize + "px", "width": canvasSize + "px", "top" : "50%", "left": "50%", "transform":"translate(-" + canvasSize/2 + "px, -" + canvasSize/2 + "px)"});
		$( "#loadingImage" ).addClass( "shadow" );
	}

	function showPage() {
		$( "#loader" ).hide();
		$("body").css({"background": "none"}); // reset body margin
		$( "#mainDiv" ).show( "slow" );
// 		$( "#mainDiv" ).slideDown( "slow" );
	}
	
	// Create fill
	var i = 0;
	function fillLoadingBar(canvasSize, loadingTime) {
		if (i == 0) {
		    i = 1;
		    var elem = $( "#loadingBar" );
		    var width = 1;
		    var id = setInterval(frame, Math.round(loadingTime/canvasSize));
		    function frame() {
		      if (width >= canvasSize) {
		        clearInterval(id);
		        i = 0;
		      } else {
		        width++;
		        $( "#loadingBar" ).css("width", width + "px");
		      }
		    }
	    }
	}
</script>