<style>
/* modal */
.modal-dialog {
	position: relative;
	height: 100vh;
	margin: auto;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0;
}

.modal-content>button {
	border: 0;
}

.modal_img {
	max-width: 700px;
	max-height: 700px;
}

.modal-body {
	height: 700px;
}

.modal_images>.swiper-slide {
    height: 100%;
	width:100%;
	position:relative;
}
.modal_images>.swiper-slide>img {
    max-height: 100%;
	max-width:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal_01>.ilblock>img {
	display: inline-block;
    max-height:100%;
	max-width:30%;
	position: relative;
	transform: translate(-150%, -50%);
}
</style>

<!-- work 01 Modal -->
<div class="modal fade" id="work1_Modal" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Studio. Bawi</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_01">
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_02.png">
						</div>
						<div class="swiper-slide ilblock">
							<img src="/images/otherprojects/501_bawi/bw_11.jpg">
							<img src="/images/otherprojects/501_bawi/bw_12.jpg">
							<img src="/images/otherprojects/501_bawi/bw_13.jpg">
						</div>
						<div class="swiper-slide ilblock">
							<img src="/images/otherprojects/501_bawi/bw_14.jpg">
							<img src="/images/otherprojects/501_bawi/bw_15.jpg">
							<img src="/images/otherprojects/501_bawi/bw_16.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_21.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_22.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_23.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_24.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_25.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_26.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_27.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_28.jpg">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_31.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/501_bawi/bw_01.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">SPACE Group Design Mission</div>
		</div>
	</div>
</div>

<!-- work 02 Modal -->
<div class="modal fade" id="work2_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Public Housing Illustrate</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_02">
						<div class="swiper-slide">
							<img src="/images/otherprojects/502_phc/phc_01.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/502_phc/phc_02.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/502_phc/phc_03.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/502_phc/phc_04.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Residential Competition Work</div>
		</div>
	</div>
</div>

<!-- work 03 Modal -->
<div class="modal fade" id="work3_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cloud Campus</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_03">
						<div class="swiper-slide">
							<img src="/images/otherprojects/503_dc/dc_01.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/503_dc/dc_02.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/503_dc/dc_03.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/503_dc/dc_04.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Office Competition Work</div>
		</div>
	</div>
</div>

<!-- work 04 Modal -->
<div class="modal fade" id="work4_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Garak Market Concept diagram</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_03">
						<div class="swiper-slide">
							<img src="/images/otherprojects/504_gm/gm_01.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Public Market Competition Work</div>
		</div>
	</div>
</div>

<!-- work 05 Modal -->
<div class="modal fade" id="work5_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Seoul Animation Center - Drawing work</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_03">
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_01.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_02.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_03.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_04.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_05.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_06.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_07.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/505_sac/sac_08.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Public Competition - 1st Prized</div>
		</div>
	</div>
</div>

<!-- work 06 Modal -->
<div class="modal fade" id="work6_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Western Welfare Center - Concept Diagram and Drawing work</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_03">
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_00.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_01.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_02.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_03.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_04.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_11.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_12.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/506_wwc/wwc_13.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Public Competition - 2nd Prized</div>
		</div>
	</div>
</div>

<!-- work 07 Modal -->
<div class="modal fade" id="work7_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Game Festival Nexon Booth</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_03">
						<div class="swiper-slide">
							<img src="/images/otherprojects/507_nam/nam_02.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Freelancer Model Making</div>
		</div>
	</div>
</div>

<!-- work 08 Modal -->
<div class="modal fade" id="work8_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">House on the Roof</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-h-m">
					<div class="swiper-button-next nav_arrow"></div>
					<div class="swiper-button-prev nav_arrow"></div>
					<div class="swiper-pagination swiper-pagination-h-m"></div>
					
					<div class="swiper-wrapper modal_images modal_03">
						<div class="swiper-slide">
							<img src="/images/otherprojects/508_rh/rh_02.png">
						</div>
						<div class="swiper-slide">
							<img src="/images/otherprojects/508_rh/rh_03.png">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Rooptop housing for student</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var swiperH_modal = new Swiper('.swiper-container-h-m', {
		speed : 1000,
		loop: true,
		spaceBetween : 100,
		direction : 'horizontal',
		effect : 'fade',
		fadeEffect : {
			crossFade : true
		},	
		pagination : {
			el : '.swiper-pagination-h-m',
			clickable : true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
	        prevEl: '.swiper-button-prev',
	    },
	})
</script>