<style type="text/css">
/* container */
.otherwork_container {
	width: 100%;
	height: 100%;
	text-align: center;
}

/* info */
.otherwork_info {
	position:relative;
 	width: 350px;
 	height: 100vh;
 	
 	display: inline-block;
	text-align: center;
}

.otherwork_info > .info {
	position:absolute;
  	top:10%;
	left: 0;
	height: 240px;
	width: 240px;
	margin: 0 25px;
	padding: 10px 0;
	text-align: left;
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.otherwork_contents {
	position: relative;
 	width: 1060px;
  	height: 90vh;
 	display: inline-block;
	text-align: left;
}

.otherwork_contents > .swiper-container-s-h {
  	height: 80%;
  	top:10%;
	position: absolute;
}
.otherwork_contents .swiper-slide {
	height: 250px;
}

.otherwork {
	position: relative;
/* 	width: 240px; */
	width: 240px;
	height: 240px;
 	border: 1px solid #000;
	margin:3px;
	
	z-index: 0;
 	display: inline-block;
	align-content: center;
	cursor: pointer;
}
.otherwork_imgwapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 85%;
	height: 85%;
	overflow: hidden;
}

.otherwork_imgwapper>img {
 	width: 100%;
	height: 100%;
	overflow:hidden;
	transition: all 0.5s ease;
	object-fit: cover;
}
.otherwork_imgwapper:hover>img {
	transform: scale(1.2);
}

.otherwork:hover {
	z-index: 1;
}

.otherwork:before, .otherwork:after {
	content: "";
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.otherwork:before {
	width: calc(100% + 5px);
	height: 100%;
	z-index: 1;
	transition: height 1s ease, opacity 0.8s ease;
}

.otherwork:after {
	height: calc(100% + 5px);
	width: 100%;
	z-index: 1;
	transition: width 1s ease, opacity 0.8s ease;
}

.otherwork:hover:before, .otherwork:focus:before {
	transition: height 0.2s ease, opacity 0.3s ease;
	height: 85%;
	opacity: 0.7;
}

.otherwork:hover:after, .otherwork:focus:after {
	transition: width 0.2s ease, opacity 0.3s ease;
	width: 85%;
	opacity: 0.8;
}

</style>

<div class="otherwork_container centerVH">
	<!-- info section -->
	<section class="otherwork_info">
		<div class="info">
			<span class="text_numbering">Other Projects</span><br>
			<span class="text_title" style="font-size: 24px;">
				Rendering<br>
				Illustrating<br>
				Diagramming<br>
				Model Making<br>
				Drawing
			</span>
			<!-- TEXTTEXTTEXTTEXTTEXTTEXTTEXTTEXT -->
		</div>
	</section><!--
	works section
	--><section class="otherwork_contents">
		<div class="swiper-container swiper-container-s-v">
			<div class="swiper-pagination swiper-pagination-d"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="otherwork" data-toggle="modal" data-target="#work1_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/501_bawi.jpg">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work2_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/502_phc.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work3_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/503_dc.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work4_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/504_gm.png">
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="otherwork" data-toggle="modal" data-target="#work5_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/505_sac.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work6_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/506_wwc.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work7_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/507_nam.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work8_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/508_rh.png">
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="otherwork" data-toggle="modal" data-target="#work9_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/509_hdb.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work10_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/510_yyo.png">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work11_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/601_ren.jpg">
						</div>
					</div>
					<div class="otherwork" data-toggle="modal" data-target="#work12_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/602_ren.png">
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="otherwork" data-toggle="modal" data-target="#work13_Modal">
						<div class="otherwork_imgwapper">
							<img src="/images/otherprojects/603_ren.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
var swiperV = new Swiper('.swiper-container-s-v', {
    direction: 'vertical',
    freeMode: true,
    slidesPerView: 'auto',
	pagination: {
		el: '.swiper-pagination-d',
		dynamicBullets: true,
	},
  });
</script>