<style type="text/css">
.sample_image {
	position: relative;
/*  align-item: center; */
	background-color: #fff;
	border: 1px solid #eee;
	display: flex;
	justify-content: center;
	width: 300px;
	height: 300px;
	z-index: 1000;
}
.sample_image img {
	object-fit: cover;
	height: 300px;
	width: 300px;
}
.sample_image::before, .sample_image::after {
	background-image: linear-gradient(-180deg, #a1deff 0%, #5ea3db 97%);
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all 0.2s;
	transition-delay: 0.2s;
	transform: translateY(0px) translateX(0px);
	z-index: -1;
}

.sample_image::after {
	background-image: linear-gradient(0deg, #ffcf70 0%, #ffae3d 97%);
}

.workingsample_1:hover > .sample_image {
	animation-name: hoverPop;
	animation-duration: 0.4s;
}

.workingsample_1:hover > .sample_image > img {
	box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
	box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27);
}
.workingsample_1:hover > .sample_image::before {
	animation: slick-hover-2 3s 0.4s linear infinite;
	transform: translateY(-20px) translateX(-20px);
}
.workingsample_1:hover > .sample_image::after {
	animation: slick-hover 3s 0.4s linear infinite reverse;
	transform: translateY(20px) translateX(20px);
}
@keyframes hoverPop {
	0%, 100% {
		transform: scale(1);
	}
	33% {
		transform: scale(1.05);
	}
	66% {
		transform: scale(0.95);
	}
}
@keyframes slick-hover {
	0% {
		transform: translateY(20px) translateX(20px);
	}
	16.67% {
		transform: translateY(-13px) translateX(-9px);
	}
	33.33% {
		transform: translateY(4px) translateX(12px);
	}
	50% {
		transform: translateY(20px) translateX(-20px);
	}
	66.67% {
		transform: translateY(-3px) translateX(8px);
	}
	83.33% {
		transform: translateY(-15px) translateX(-11px);
	}
	100% {
		transform: translateY(20px) translateX(20px);
	}
}
@keyframes slick-hover-2 {
	0% {
		transform: translateY(-20px) translateX(-20px);
	}
	16.67% {
		transform: translateY(3px) translateX(-5px);
	}
	33.33% {
		transform: translateY(18px) translateX(-10px);
	}
	50% {
		transform: translateY(-20px) translateX(20px);
	}
	66.67% {
		transform: translateY(15px) translateX(-4px);
	}
	83.33% {
		transform: translateY(-1px) translateX(15px);
	}
	100% {
		transform: translateY(-20px) translateX(-20px);
	}
}





.workingsample_1_container {
	text-align: center;
	margin-top: 10%;
}

.workingsample_1_info {
	position:relative;
 	display: inline-block;
	height: 300px;
	width: 300px;
	
	margin: 25px;
	padding: 10px 0;
	text-align: left;
	
	border-top: #5ea3db solid 3px;
	border-bottom: #ffae3d solid 3px;
	
	vertical-align: top;
}

.workingsample_1 {
	position:relative;
 	display: inline-block;
	width: 300px;
	height: 600px;
	
	margin: 25px;
	text-align: center;
	cursor: pointer;
	
	vertical-align: top;
}

.workingsample_1 > .sample_image {
	width: 300px;
	height: 300px;
}
.workingsample_1 > .sample_title {
	text-align: left;
	width: 300px;
	height: 300px;
	padding: 10px 0;
	
	opacity: 0;
	transition: opacity 1s;
}
.workingsample_1:hover > .sample_title {
	opacity: 1;
}
</style>

<div class="workingsample_1_container">
	<div class="workingsample_1_info">
		<span class="text_numbering">Company Projects</span><br>
		<span class="text_title" style="font-size: 24px;">
			SPACE Group inc.
		</span><br>
		Construction Design Projects
	</div>
	
	<!-- 1. -->
	<div class="workingsample_1" onclick="window.location='archi/companyprojects/111_cjcf/3';">
 		<div class="sample_image">
			<img src="/images/companyprojects/111_cjcf_thumbnail.jpg">
		</div>
		<div class="sample_title">
			<span class="text_numbering">No.111</span><br>
			<span class="text_title">Cheong-Ju<br>Culture Factory</span><br>
			<span class="italic">Remodeling Project</span><br>
			<span class="hashtag">
				#Gallery and Commercial<br>
				#Urban Regeneration<br>
				#Remodeling building award
			</span>
		</div>
	</div>
	
	<!-- 2. -->
	<div class="workingsample_1" onclick="window.location='archi/companyprojects/109_dhob/2';">
 		<div class="sample_image">
			<img src="/images/companyprojects/109_dhob_thumbnail.png">
		</div>
		<div class="sample_title">
			<span class="text_numbering">No.109</span><br>
			<span class="text_title">DHOLIC<br>Company Building</span><br>
			<span class="italic">Remodeling Project</span><br>
			<span class="hashtag">
				#Design Company Headquarters<br>
				#Office and Commercial<br>
				#Remodeling building award
			</span>
		</div>
	</div>
	
	<!-- 3. -->
	<div class="workingsample_1" onclick="window.location='archi/companyprojects/101_jbto/1';">
 		<div class="sample_image">
			<img src="/images/companyprojects/101_jbto_thumbnail.jpg">
		</div>
		<div class="sample_title">
			<span class="text_numbering">No.103</span><br>
			<span class="text_title">Narakium Jungbu<br>Tax Office</span><br>
			<span class="italic">New Construction</span><br>
			<span class="hashtag">
				#Government Office<br>
				#Low-Energy Building
			</span>
		</div>
	</div>
</div>