

<!-- work 07 Modal -->
<div class="modal fade" id="work7_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Game Festival Nexon Booth</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{nam_02-png}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Freelancer Model Making</div>
		</div>
	</div>
</div>

<!-- work 08 Modal -->
<div class="modal fade" id="work8_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">House on the Roof</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-button-next swiper-button-next-modal"></div>
					<div class="swiper-button-prev swiper-button-prev-modal"></div>
					<div class="swiper-pagination swiper-pagination-modal"></div>
					
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{rh_02-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{rh_03-png}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Rooptop housing for student</div>
		</div>
	</div>
</div>

<!-- work 09 Modal -->
<div class="modal fade" id="work9_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">About Hong-dae</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-button-next swiper-button-next-modal"></div>
					<div class="swiper-button-prev swiper-button-prev-modal"></div>
					<div class="swiper-pagination swiper-pagination-modal"></div>
					
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{hdb_01-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{hdb_02-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{hdb_03-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{hdb_04-png}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Book Making Project</div>
		</div>
	</div>
</div>

<!-- work 10 Modal -->
<div class="modal fade" id="work10_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Nursing Home Interior Rendering</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-button-next swiper-button-next-modal"></div>
					<div class="swiper-button-prev swiper-button-prev-modal"></div>
					<div class="swiper-pagination swiper-pagination-modal"></div>
					
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{yyo_01-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{yyo_02-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{yyo_03-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{yyo_04-png}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Freelancer Rendering</div>
		</div>
	</div>
</div>


<!-- work 11 Modal -->
<div class="modal fade" id="work11_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Render Study 01</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{601_ren_01-jpg}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Freelancer Rendering</div>
		</div>
	</div>
</div>

<!-- work 12 Modal -->
<div class="modal fade" id="work12_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Render Study 02</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{602_ren_01-png}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Freelancer Rendering</div>
		</div>
	</div>
</div>
<!-- work 13 Modal -->
<div class="modal fade" id="work13_Modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Render Study 03</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="swiper-container swiper-container-modal">
					<div class="swiper-button-next swiper-button-next-modal"></div>
					<div class="swiper-button-prev swiper-button-prev-modal"></div>
					<div class="swiper-pagination swiper-pagination-modal"></div>
					<div class="swiper-wrapper modal_images">
						<div class="swiper-slide">
							<img src="{{603_ren_01-png}}">
						</div>
						<div class="swiper-slide">
							<img src="{{603_ren_02-png}}">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">Freelancer Rendering</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var swiperModal = new Swiper('.swiper-container-modal', {
		speed : 1000,
		observer: true, 
		observeParents: true,
		effect : 'fade',
		fadeEffect : {
			crossFade : true
		},
		pagination : {
			el : '.swiper-pagination-modal',
			clickable : true,
		},
		navigation: {
			nextEl: '.swiper-button-next-modal',
	        prevEl: '.swiper-button-prev-modal',
	    },
	})
</script>