<style>
.videotext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	font-size: 32px;
	font-family: 'Big Shoulders Display', serif;
	font-weight: 400;
	text-align: center;
	color: white;
	background-color: black;
	padding: 0px 8px;
}
</style>

<!-- <div class="videotext"> -->
<!-- 	SUNGMOON WEA -->
<!-- </div> -->


<div class="centerVH">
	SUNGMOON WEA
</div>

<script>
var swiperV = new Swiper('.swiper-container-main-v', {
    direction: 'vertical',
  });
</script>