<!-- <div class="modal fade" id="email_Modal" tabindex="-1"> -->
<!-- 	<div class="modal-dialog"> -->
<!-- 		<div class="modal-content"> -->
<!-- 			<div class="modal-header"> -->
<!-- 				<h5 class="modal-title">header</h5> -->
<!-- 				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
<!-- 					<span aria-hidden="true">&times;</span> -->
<!-- 				</button> -->
<!-- 			</div> -->
<!-- 			<div class="modal-body"> -->
<!-- 				<form action="mailto:sadgood123@gmail.com" method="post" enctype="text/plain"> -->
<!-- 					Name:<br> -->
<!-- 					<input type="text" name="name"><br> -->
<!-- 					E-mail:<br> -->
<!-- 					<input type="text" name="mail"><br> -->
<!-- 					Comment:<br> -->
<!-- 					<input type="text" name="comment" size="50"><br><br> -->
<!-- 					<input type="submit" value="Send"> -->
<!-- 					<input type="reset" value="Reset"> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 			<div class="modal-footer">footer</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
<style>
#email_Modal .modal-body {
	height: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	color: #AAAAAA;
}
</style>
<div class="modal fade" id="email_Modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<span class="text_numbering">sungmoonwea@gmail.com</span><br>
				plaese, send e-mail to this adress.
			</div>
		</div>
	</div>
</div>