<!DOCTYPE html>
<html>
<head>
	{{> include/header}}
	<script src="/custom/js/weo_script.js"></script>
	<style type="text/css">
		#thumbnail {
			display:none;
		}
		.imgbox {
			display: inline-block;
		}
	</style>
</head>
<body>
	<div>
		<a href="/admin">back to projects list</a>
		<br>
		{{accessmessage}}
	</div>
	{{#moonprojectIs}}
		<div>
			{{#moonproject}}
				id: {{id}}<br>
				Pno: {{pno}}<br>
				Name: {{projectName}}<br>
				<div>
					<h4>Add New Image</h4>
					<form class="addimage" method="POST" action="/moonimage" enctype="multipart/form-data">
						<input type="hidden" name="_method" value="PUT">
						<input type="hidden" name="moonProjectId" value="{{id}}">
						<input id = "imageName" type="text" name="imageName" placeholder="Image Name">
						<input id = "imageUpLoader" name="image" type="file" accept="image/*" multiple="multiple" required />
						<br>
						<input id = "imageGroup" type="number" name="imageGroup" placeholder="Image Group">
						<br>
						<button type="submit">UPLOAD</button>
						<br>
						<img id="thumbnail" alt="Image Preview" style="height:150px"/>
					</form>
				</div>
			{{/moonproject}}
		</div>
		<div>
			<h4>Images</h4>
			{{#moonimages.entrySet}}
				<div class="imgbox">
					id: {{key}}<br>
					Image Name: {{value.0}}<br>
					Image Group: {{value.1}}<br>
					<img src="{{value.2}}" style="max-height:150px;max-width:150px"><br>
					<form method="POST" action="/moonimage/{{key}}">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit">DELETE</button>
					</form>
				</div>
			{{/moonimages.entrySet}}
		</div>
	{{/moonprojectIs}}
	
	<script type="text/javascript">
		$(document).ready(function(){
			$("#imageUpLoader").change(function(){
				showImageThumbnail(this);
				setNamebyFile(this);
			});
		});
		
		function setNamebyFile(fileInput){
			fileName = fileInput.files[0].name.replace(/\./g, '-');
			$('#imageName').val(fileName);
		}
		
		function showImageThumbnail(fileInput){
			file = fileInput.files[0];
			reader = new FileReader();
			reader.onload = function(e) {
				$("#thumbnail").attr('src', e.target.result);
				$("#thumbnail").show();
			};
			reader.readAsDataURL(file);
		}
	</script>
</body>
</html>