<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div><h2>admin main</h2></div>
	<div>
		<h4>moonproject list</h4>
		<ul>
			{{#moonprojectsIs}}
				{{#moonprojects}}
				<li><a href="/moonproject">{{pno}}{{projectName}}</a></li>
				{{/moonprojects}}
			{{/moonprojectsIs}}
		</ul>
	</div>
	<div>
	<h4>add moonproject</h4>
		<form method="POST" action="/moonproject">
			<input type="text" name="projectName" placeholder="Project Name" required>
		    <button type="submit">ADD</button>
		</form>
	</div>
</body>
</html>