<div class="container centerVH title_div">
	<div class="row">
		<div class="col">
			<span class="text_mainline">Design for <span id="changeText">Hellow :D</span>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col" style="margin-top:100px;">
			<span class="text_subline">designing<br></span> <span
				class="text_subline">tomorrow's<br></span> <span
				class="text_subline">thoughtful<br></span> <span
				class="text_subline">technologies<br></span> <span
				class="text_subline">today<br></span>
		</div>
		<div class="col-4">
			<img src="/images/indexpage/moon_1.gif" class="img-fluid"alt="Responsive image">
		</div>
	</div>
</div>

<script>
var titleDiv = $(".title_div")
var counter = 0;
var interval_texts = [
	"all",
	"people",
	"you",
	"mom",
	"change",
	"family",
	"evolution",
	"planet",
	"dignity",
	];

function change_text() {
	document.getElementById("changeText").innerHTML = interval_texts[counter];
	counter++;
	if (counter >= interval_texts.length) {
		counter = 0;
	};
}

function interval_toggle() {
	if (titleDiv.hasClass("off")) {
		titleDiv.removeClass("off");
		interval = setInterval(change_text, 100);
	} else {
		titleDiv.addClass("off");
		clearInterval(interval);
	}
}

var interval = setInterval(change_text, 100);
	
$( document ).ready(function() {
	titleDiv.on('click', function() {
		interval_toggle();
	});
});
</script>