<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Moon</title>

<script src="/ready/jquery/jquery-3.5.1.slim.js"></script>

<script src="/ready/bootstrap/bootstrap.bundle.js"></script>
<script src="/ready/bootstrap/bootstrap.js"></script>
<link rel="stylesheet" href="/ready/bootstrap/bootstrap.css">

<script src="/ready/swiper/swiper-bundle.js"></script>
<link rel="stylesheet" href="/ready/swiper/swiper-bundle.css">

<!-- custom -->
<link rel="icon" href="../images/favicon/favicon_32.ico" type="image/x-icon" sizes="16x16">
<link href="/custom/css/weo_styles.css" rel="stylesheet" type="text/css">
<script src="/custom/js/weo_script.js"></script>