<style>
	@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
	
	ul.nav {
		list-style-type: none;
	}
	
	.menu_toggle {
		transform: rotate(260deg);
		transition: transform 1s;
	  	z-index: 999;
	}
	
	.menu_toggle:hover {
		transform: rotate(-10deg);
	}
	
	.menu_toggle.activate {
		transform: rotate(-10deg);
	}

	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 998;
	  top: 0;
	  right: 0;
	  background-color: var(--Color001);
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	}
	
	.sidenav.activate {
		width: 200px;
	}
	
 	.sidenav a { 
 	  padding: 8px 16px 8px 32px; 
 	  text-decoration: none; 
 	  font-size: 25px; 
 	  color: var(--Color002); 
 	  display: block; 
 	  transition: 0.3s; 
 	} 
	
 	.sidenav a:hover {
 	  color: var(--Color001);
 	}
	
	.title_name {
	font-family: 'Fredericka the Great', cursive;
/* 	text-transform: uppercase; */
	padding: 0px;
	}
	
/* 	.sticky { */
/* 	  position: sticky; */
/* 	  top: 20px; */
/* 	} */
</style>

<div class="container sticky" style="border-bottom: 0.5px solid;">
	<div class="row">
		<div class="col title_name">
			<h4><a href="/">Sungmoon Wea</a></h4>
		</div>
		<div class="col text-right">
			<button style="font-size:23px; padding:0 0 5px 0;">
				<svg id="menu_toggle" class="menu_toggle bi bi-moon" onclick="navToggle()" style="width:1.2em;height:1.2em;fill:currentColor;" viewBox="0 0 16 16">
  					<path fill-rule="evenodd" d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z"/>
				</svg>
			</button>
			
			<nav id="sidenav_wrapper" class="sidenav">
			    <ul class="sidebar-nav nav">
					<li class="sidebar-nav-item">
				        <a class="smooth-scroll" href="/">Home</a>
				   	</li>
				    <li class="sidebar-nav-item">
				        <a class="smooth-scroll" href="#">About</a>
				    </li>
				    <li class="sidebar-nav-item">
				        <a class="smooth-scroll" href="/archi/contents">Architect</a>
				    </li>
				    <li class="sidebar-nav-item">
				        <a class="smooth-scroll" href="https://wee-sm.github.io/">Code</a>
				    </li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<script>
	function navToggle() {
		document.getElementById("menu_toggle").classList.toggle("activate");
		document.getElementById("sidenav_wrapper").classList.toggle("activate");
	};
</script>