{{> archi/otherproject_modal/000_header}}
<style type="text/css">
.ilblock>img {
	display: inline-block;
    max-height:75%;
	max-width:30%;
	position: relative;
	transform: translate(-150%, -50%);
}
</style>

<div class="swiper-container swiper-container-modal">
	<div class="swiper-button-next swiper-button-next-modal"></div>
	<div class="swiper-button-prev swiper-button-prev-modal"></div>
	<div class="swiper-pagination swiper-pagination-modal"></div>
	<div class="swiper-wrapper modal_images">
		<div class="swiper-slide">
			<img src="{{bw_02-png}}">
		</div>
		<div class="swiper-slide ilblock">
			<img src="{{bw_11-jpg}}">
			<img src="{{bw_12-jpg}}">
			<img src="{{bw_13-jpg}}">
		</div>
		<div class="swiper-slide ilblock">
			<img src="{{bw_14-jpg}}">
			<img src="{{bw_15-jpg}}">
			<img src="{{bw_16-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_21-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_22-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_23-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_24-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_25-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_26-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_27-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_28-jpg}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_31-png}}">
		</div>
		<div class="swiper-slide">
			<img src="{{bw_01-jpg}}">
		</div>
	</div>
</div>
{{> archi/otherproject_modal/999_footer}}
