<!doctype html>
<html lang="en">
<head>
	{{> include/header}}
	<style>
		.contentsWaper {height:500px;}
	</style>
</head>

<body>
	{{> include/navigation}}
	<div class="container layout">
		<div class="row">
			<div class="col">
				<span class="text_numbering">Architect Project</span><br>
				<span class="text_title">
					5+ Years’ Architectural Designer<br>
					2+ Years’ Project Manager<br>
				</span>
			</div>
		</div>
	</div>
	<div class="container layout">
		<div class="row contentsWaper">
			<div class="col col-8">
				{{#workingtypes}}
					<div class="row">
						<div class="col col-2">
							{{type}}
						</div>
						<div class="col">
							<ul class="nolist">
								{{#projects}}
									<li><a href="./{{Id}}" class="p{{priority}}">{{pno}} {{title1}} {{title2}}</a></li>
								{{/projects}}
							</ul>
						</div>
					</div>
				{{/workingtypes}}
			</div>
		</div>
		<div>
			<button id="listToggle">All Projcets</button>
		</div>
	</div>
	
	<div class="container layout">
		<div class="row">
			<div class="col">
				LEED AP BD+C<br>
				Architect License in Korea<br>
				TOEFL iBT 74<br>
				Driver’s License<br>
			</div>
			<div class="col">
				2019 Remodeling award<br>
				2018 Remodeling award<br>
				#1 in 20% of all competition<br>
				Awarded in 75% competition<br>
			</div>
			<div class="col">
				Auto CAD, Revit<br>
				SketchUp, Rhino(V-ray)<br>
				Adobe Ps, Il, Pr, Id<br>
				C+, Java, Python, AWS<br>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".p2, .p3").css({"color":"gray", "display":"none"});
			$("#listToggle").click(function(){
				$(".p2").toggle();
				$(this).toggleText("Main Projects", "All Projcets");
			});
		});
		// Text Toggler
		$.fn.toggleText = function(t1, t2){
			  if (this.text() == t1) this.text(t2);
			  else                   this.text(t1);
			  return this;
			};
	</script>
	{{> include/footer}}
</body>
</html>