<!doctype html>
<html lang="en">
<head>
{{> include/header}}
<style type="text/css">
body, html, .swiper-container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position:relative;
	overflow: hidden;
}

.swiper-slide{
	background-color: white;
}
.mainslide{
	background-color: rgba(255, 0, 0, 0);
}
</style>
</head>
<body>
<!-- 	{{> index/loading/base}} -->
	<div class="swiper-container swiper-container-indexpage">
   		<div class="swiper-scrollbar"></div>
    	<div class="swiper-wrapper">
    		<!-- Slides -->
    		<div class="swiper-slide">
				{{>index/main/slide_11_about}}
			</div>
    		<div class="swiper-slide mainslide">
				{{>index/main/slide_00_mainpage}}
			</div>
			<div class="swiper-slide">
				{{>index/main/slide_01_CompanyProjects}}
			</div>
			<div class="swiper-slide">
				{{>index/main/slide_02_SchoolProjects}}
			</div>
			<div class="swiper-slide">
				{{>index/main/slide_03_OtherProjects}}
			</div>
		</div>
	</div>
	{{>index/main/slide_00_mainpage_videobackground}}
	
	<script type="text/javascript">
		// swiper
		var swiperH = new Swiper('.swiper-container-indexpage', {
			initialSlide: 1,
			slidesPerView: 1,
			lazy: true,
			speed : 1500,
			spaceBetween : 0,
			grabCursor : true,
			// Optional parameters
			direction : 'horizontal',
			loop : false,
			mousewheel : {
				invert : false,
			},
			effect : 'slide',
			keyboard : {
				enabled : true,
				onlyInViewport : false,
			},
			scrollbar: {
			    el: '.swiper-scrollbar',
			    hide: true,
			},
		})
	</script>
	{{> include/footer}}
</body>
</html>
