<!doctype html>
<html lang="en">
<head>
{{> include/header}}
<style type="text/css">
body, html, .swiper-container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
</style>
</head>
<body>
	{{> index/loading/base}}
	
	<!-- Slider main container -->
	<div class="swiper-container swiper-container-h">
    	<!-- Additional required wrapper -->
    	<div class="swiper-wrapper">
    		<!-- Slides -->
			<div class="swiper-slide">
				{{>index/main/main_01}}
			</div>
			<div class="swiper-slide">
				{{>index/main/main_02}}
			</div>
			<div class="swiper-slide">
				{{>index/main/main_04}}
			</div>
		</div>
	</div>
	{{>index/main/main_04_modal}}
	
	<script type="text/javascript">
		// swiper
		var swiperH = new Swiper('.swiper-container-h', {
			speed : 1000,
			spaceBetween : 100,
			grabCursor : true,
			// Optional parameters
			direction : 'horizontal',
			loop : false,
			mousewheel : {
				invert : false,
			},
			effect : 'slide',
			keyboard : {
				enabled : true,
				onlyInViewport : false,
			},
		})
	</script>
	{{> include/footer}}
</body>
</html>
