<!DOCTYPE html>
<html>
<head>
{{> include/header}}

<style type="text/css">
/* swiper-button */
.nav_arrow {
	position: absolute;
	top: 0;
	width: 300px;
	height: 100%;
	color: lightgray;
}

.nav_arrow:hover {
	color: #007aff;
	transition: all 0.5s ease;
}
</style>
</head>

<body>
	<!-- Slider main container -->
	<div class="swiper-container">
		<div class="swiper-button-next nav_arrow"></div>
		<div class="swiper-button-prev nav_arrow"></div>
		<div class="swiper-pagination"></div>
		
    	<!-- Additional required wrapper -->
    	<div class="swiper-wrapper">
    		
    		<!-- Slides1 -->
			<div class="swiper-slide">
				hello1
			</div>
			
    		<!-- Slides2 -->
			<div class="swiper-slide">
				hello1
			</div>
						
			<!-- otherimage section -->
			<div class="swiper-slide">
				<div class="content_wapper">
					<div class="content centerVH">
						<div class="content_text4">
							<div class="otherimage_container centerVH">
								<section class="otherimage_contents">
									<div class="otherimage_wrap" id="otherimage_wrap">
									<!-- JS -->
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
			
    		<!-- Last Slide -->
			<div class="swiper-slide">
				<div class="slide_last_wapper">
					<div class="textbox">
						<div class="project_summary">
							<table>
								<tr>
									<td>Urban Regeneration - Cheongju Old Cigarette Factory</td>
									<th>Project</th>
								</tr>
								<tr>
									<td>Cheongju Urban Design Office</td>
									<th>Client</th>
								</tr>
								<tr>
									<td>2017 - 2019</td>
									<th>Year</th>
								</tr>
								<tr>
									<td>Cheongwon-gu, Cheongju-si, Chungcheongbuk-do, Republic of Korea</td>
									<th>Location</th>
								</tr>
								<tr>
									<td>51,515.41sm / 35m (5F)</td>
									<th>Size</th>
								</tr>
								<tr>
									<td>Commercial, Culture, Gallery, Office</td>
									<th>Program</th>
								</tr>
								<tr>
									<td>RC, Structure Reinforcement</td>
									<th>Structure</th>
								</tr>
							</table>
						</div>
					</div>
					<div class="background" style="background-image: url('/images/mainprojects/111_cjcf/otherimages/cj_92.png')"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="modal_wapper">
		<!-- JS -->
	</div>
	
	<script type="text/javascript">
		// swiper set
		var mySwiper = new Swiper('.swiper-container', {
			speed : 500,
			effect : "fade",
			fadeEffect : {
				crossFade : true
			},
			// Optional parameters
			loop : false,
			autoplay : {
				delay : 10000,
			},
			pagination : {
				el : '.swiper-pagination',
				type : "bullets",
				clickable : true,
			},
			navigation : {
				nextEl : '.swiper-button-next',
				prevEl : '.swiper-button-prev',
			},
			simulateTouch: false,
			keyboard: {
				enabled: true,
			},
		})
		
		// other image and modal html
		for (i = 71; i < 91; i++) {
			imagehtml = ''; 
			imagehtml += '<div class="otherimage">';
			imagehtml += '<button data-toggle="modal" data-target="#img_' + i + '_Modal">';
			imagehtml += '<img id="otherimage_' + i + '" src="/images/mainprojects/111_cjcf/otherimages/cj_' + i + '.png">';
			imagehtml += '</button></div>';
			$("#otherimage_wrap").append(imagehtml);
			
			modalhtml = '';
			modalhtml += '<div class="modal fade" id="img_' + i + '_Modal">';
			modalhtml += '<div class="modal-dialog modal-lg">';
			modalhtml += '<div class="modal-content">';
			modalhtml += '<button data-dismiss="modal">';
			modalhtml += '<img class="modal_img" src="/images/mainprojects/111_cjcf/otherimages/cj_' + i + '.png">';
			modalhtml += '</button></div></div></div>'
			
			$("#modal_wapper").append(modalhtml);
		}
	</script>
	{{> include/footer}}
</body>
</html>