<div class="otherimage_wrap" id="otherimage_wrap">
	<!-- JS -->
</div>

<script>
	// other image and modal html
	for (i = 71; i < 92; i++) {
		imagehtml = '';
		imagehtml += '<div class="otherimage">';
		imagehtml += '<button data-toggle="modal" data-target="#img_' + i + '_Modal">';
		imagehtml += '<img id="otherimage_' + i + '" src="{{moonimages.cj_' + i + '-png}}">';
		imagehtml += '</button></div>';
		$("#otherimage_wrap").append(imagehtml);

		modalhtml = '';
		modalhtml += '<div class="modal fade" id="img_' + i + '_Modal">';
		modalhtml += '<div class="modal-dialog modal-lg">';
		modalhtml += '<div class="modal-content">';
		modalhtml += '<button data-dismiss="modal">';
		modalhtml += '<img class="modal_img" src="{{moonimages.cj_' + i + '-png}}">';
		modalhtml += '</button></div></div></div>'

		$("#modal_wapper").append(modalhtml);
	}
</script>